/* STYLES */

body {
    background: rgb(219, 240, 236);
    color: rgb(0, 0, 0);
    font-family: 'Dancing Script';
}

h1 {
    font-family: 'Shadows Into Light',sans-serif;
    font-size: 120px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 110px;
    margin-top: 20vh;
    margin-bottom: 10vh;
    text-align: center; 
} 

em {
    padding: 16px 24px;
    font-size: 26px;
    font-weight: 100;
    line-height: 120%;
    margin-bottom: 32px;
    text-align: left;
}

main {
    max-width: 650px;
    margin: 0px auto;
    padding: 16px;
}

p {
    padding: 16px 24px;
    font-size: 25px;
    font-weight: 200;
    line-height: 120%;
    margin-bottom: 32px;
    text-align: justify;
}

h2 {
    padding: 16px 24px;
    font-size: 36px;
    font-weight: 400;
    line-height: 120%;
    margin-bottom: 32px;
    text-align: center;
}

h3 {
    padding: 16px 24px;
    font-size: 30px;
    font-weight: 400;
    line-height: 120%;
    margin-bottom: 32px;
    text-align: center;
    text-decoration: underline
}

ul {
    list-style-type: circle;
}

li {
    font-size: 25px;
    font-weight: 200;
    margin-bottom: 4px;
}

a {
    color: inherit;
    text-decoration: none;
    border: 2px solid;
    padding: 0px 4px;
    border-radius: 0px;
    transition: all 0.5s;
}

a:hover {
    opacity: 50%;
    padding: 0px 8px;
}
